.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.font-size-2 {
  font-size: 2rem;
}

.white-space-pre {
  white-space: pre;
}

.panel-item--center {
  padding: 0 !important;
}

.panel--center {
  padding: 0 !important;
}

.p-submenu-list {
  width: auto !important;
}

.p-menubar .p-submenu-list {
  z-index: 20 !important;
}

.swagger-ui .info {
  margin-top: 0px !important;
}
